@page
@model KIMPACK.Pages.MaterialsInvoices.Index
@{
    ViewData["Title"] = "Danh sách hóa đơn mua nguyên vật liệu";
}

<h2 class="text-center mb-3">Danh sách hóa đơn mua nguyên vật liệu</h2>

<a class="btn btn-primary" asp-page="/MaterialsInvoices/Create">Thêm hóa đơn</a>

<table class="table">
    <thead>
        <tr>
            <th> ID </th>
            <th> KHHD </th>
            <th> Ngày Cung Cấp </th>
            <th> HTTT </th>
            <th> Tiền NVL </th>
            <th> Mức Thuế </th>
            <th> Tiền Thuế </th>
            <th> Thanh Toán </th>
            <th> Tên NCC </th>
            <th> Hành động </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supply in Model.SupplyList)
        {
            <tr>
                <td>@supply.MaCC</td>
                <td>@supply.KyHieuHD</td>
                <td>@supply.NgayCungCap.ToString("dd/MM/yyyy")</td>
                <td>@supply.HinhThucThanhToan</td>
                <td>@supply.TongTienNVL?.ToString("N3")</td>
                <td>@supply.MucThueSuatGTGT</td>
                <td>@supply.TienThueGTGT?.ToString("N3")</td>
                <td>@supply.TongTienThanhToan?.ToString("N3")</td>
                <td>@supply.TenNCC</td>
                <td style="white-space: nowrap">
                    <a class="btn btn-primary btn-sm" asp-page="/MaterialsInvoices/ReadDetail" asp-route-MaCC="@supply.MaCC">Chi tiết</a> |
                    <a class="btn btn-primary btn-sm" asp-page="/MaterialsInvoices/Edit" asp-route-MaCC="@supply.MaCC">Sửa</a> |
                    <a class="btn btn-danger btn-sm" asp-page="/MaterialsInvoices/Delete" asp-route-MaCC="@supply.MaCC">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
